.top-bar{
  height: 100px;
  text-align:center;
  font-family: 'Economica', sans-serif;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.container{
  display: grid;
  grid-template-columns: 35% 30% 35%;
  margin-top: 20px;

}